{% extends "auxiliars/base.html.twig" %}

{% block head %}
    <title>Borsa de treball: Estudis {{ entitat.nom }} {{entitat.llinatges }}</title>
    <link rel="shortcut icon" type="image/ico" href="../imatges/logoPau2.ico"/>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/borsa.css">
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>

    
    </script>
    <script src="../../js/dirtyForms.js"></script>
{% endblock %}

{% block navegacio %}
    <a class="navbar-brand" href="dashBoard">{{ entitat.nom }} {{entitat.llinatges }}</a>
</div>
<div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav">
        <li><a href="modificarDades">Actualitzar dades</a></li>
        <li><a href="canviarContrasenya">Canviar contrasenya</a></li>
        <li class="active"><a href="#">Estudis acabats</a></li>
        <li><a href="idiomes" id="mIdiomes">Idiomes</a></li>
        <li><a href="estatLaboral" id="mEstats">Situació laboral</a></li>
        <!--<li><a href="formacio">Altra formació</a></li>-->
    </ul>
    <ul class="nav navbar-nav navbar-right ">
        <li><a href="/sortir"><span class="glyphicon glyphicon-log-out"></span> Sortir</a></li>
    </ul>

{% endblock %}                     

{% block contingut %}

    {{include('auxiliars/formEstudis.html.twig')}}

{% endblock %}  