{% extends "auxiliars/base.html.twig" %}

{% block head %}
    <title>Borsa de treball: Validació d'usuaris</title>
    <link rel="shortcut icon" type="image/ico" href="../imatges/logoPau2.ico"/>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/borsa.css">
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            var dades;

            $('#mdResultat').modal({backdrop: 'static', keyboard: false, show: false});
            $('#bmDacord').on('click', function () {
                $('#mdResultat').modal('hide');
            });
            $('#mdEspera').modal({backdrop: 'static', keyboard: false, show: false});
            $('#mEsperaTitol').html('Realitzant les modificacions');
            $('#mdEspera').on('shown.bs.modal', function (e) {
                if (dades.admin) {
                    $.ajax({
                        method: 'PUT',
                        url: "/administrador/rols/" + dades.idProfessor,
                        data: {idRol: 40}
                    }).done(function () {
                        $('#mrTitol').html('Actualització correcte')
                        $('#mrText').html("<p>S'ha afegit correctament el rol.</p>");
                        $('#bmDacord').on('click', function () {
                            window.location.href = "administrador";
                        });
                    }).fail(function (jqXHR, textStatus, errorThrown) {
                        $('#mrTitol').html('<span class="glyphicon glyphicon-alert"></span>&nbsp; Problemes amb l\'actualització');
                        $('#mrText').html("<p>" + jqXHR.responseJSON.missatge + "</p>");
                        $('#bmDacord').on('click', function () {
                            $('#mdResultat').modal('hide');
                        });
                    }).always(function () {
                        $('#mdEspera').modal('hide');
                        $('#mdResultat').modal('show');
                    });
                } else {
                    $.ajax({
                        method: 'DELETE',
                        url: "/administrador/rols/" + dades.idProfessor,
                        data: {idrol: 40}
                    }).done(function () {
                        $('#mrTitol').html('Actualització correcte')
                        $('#mrText').html("<p>S'ha eliminat correctament el rol.</p>");
                        $('#bmDacord').on('click', function () {
                            window.location.href = "administrador";
                        });
                    }).fail(function (jqXHR, textStatus, errorThrown) {
                        $('#mrTitol').html('<span class="glyphicon glyphicon-alert"></span>&nbsp; Problemes amb l\'actualització');
                        $('#mrText').html("<p>" + jqXHR.responseJSON.missatge + "</p>");
                        $('#bmDacord').on('click', function () {
                            $('#mdResultat').modal('hide');
                        });
                    }).always(function () {
                        $('#mdEspera').modal('hide');
                        $('#mdResultat').modal('show');
                    });
                }
            });


            $("#bModificar").on('click', function () {
                //Recupera professor
                $.ajax({
                    method: 'GET',
                    url: "/professor/" + $("#llista").val()
                }).done(function (professor) {
                    $("#bModificar").prop('disabled', 'disabled');
                    $("#llista").prop('disabled', 'disabled');
                    $("#bGuardar").prop('disabled', false);
                    $("#bCancelar").prop('disabled', false);
                    $("#admin").prop('disabled', false);
                    $("#nom").html(professor.llinatges + ", " + professor.nom);
                    $("#email").html(professor.email);
                    $("#telefon").html(professor.telefon);

                    $('#idProfessor').val(professor.idProfessor);
                    $.ajax({
                        method: 'GET',
                        url: "/administrador/rols/" + $("#llista").val()
                    }).done(function (rols) {
                        for (var rol in rols) {
                            if (rols[rol].idRol === 40) {
                                $("#admin").prop('checked', 'checked');
                            }
                        }

                    }).fail(function (jqXHR, textStatus, errorThrown) {
                        $('#mrTitol').html('<span class="glyphicon glyphicon-alert"></span>&nbsp; Problemes amb l\'actualització');
                        $('#mrText').html("<p>" + jqXHR.responseJSON.missatge + "</p>");
                        $('#bmDacord').on('click', function () {
                            $('#mdResultat').modal('hide');
                        });
                    })

                }).fail(function (jqXHR, textStatus, errorThrown) {
                    $('#mrTitol').html('<span class="glyphicon glyphicon-alert"></span>&nbsp; Problemes amb l\'actualització');
                    $('#mrText').html("<p>" + jqXHR.responseJSON.missatge + "</p>");
                    $('#bmDacord').on('click', function () {
                        $('#mdResultat').modal('hide');
                    });
                })
            });

            $("#fCanviar").on('reset', function () {
                $("#bModificar").prop('disabled', false);
                $("#llista").prop('disabled', false);
                $("#bGuardar").prop('disabled', 'disabled');
                $("#bCancelar").prop('disabled', 'disabled');
                $("#admin").prop('disabled', 'disabled');
                $("#nom").html("");
                $("#email").html("");
                $("#telefon").html("");
                $("#llista").val("");
                $("#admin").prop('checked', false);
            });


            $("#fCanviar").on('submit', function (event) {
                event.preventDefault();
                var f = event.target.id;
                dades = {};
                dades['idProfessor'] = $('#idProfessor').val();
                dades['admin'] = $('#admin').is(':checked');
                $('#mdEspera').modal('show');
            });


        });
    </script>
    <script src="../../js/dirtyForms.js"></script>

{% endblock %}

{% block navegacio %}
    <a class="navbar-brand" href="/professor/dashBoard">{{ professor.nom }} {{professor.llinatges }}</a>
</div>
<div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav">
        <li><a href="usuarisPendents">Validar usuaris pendents</a></li>
        <li><a href="usuaris">Activar / validar usuari</a></li>
        <li  class="active"><a href="#">Rol administrador</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right ">
        <li><a href="/sortir"><span class="glyphicon glyphicon-log-out"></span> Sortir</a></li>
    </ul>

{% endblock %}                     

{% block contingut %}
    <h2>Rol d'administrador</h2>
    <div class="well">
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label for="sel1">Professors/es disponibles:</label>
                    <div class="input-group">
                        <select class="form-control" id="llista">
                            <option value="">Escull un professor</option>
                            {% for company in companys %}
                                <option value="{{ company.idProfessor }}">{{ company.llinatges }}, {{ company.nom }}</option>
                            {% endfor %}
                        </select> 
                        <span class="input-group-btn"><button type="button" class="btn btn-default btn-success" id="bModificar">Modificar</button></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form id="fCanviar">
        <input type="hidden" name="idProfessor" id="idProfessor">
        <div class="well">
            <div class='row'>
                <div class='col-md-6'>
                    <p><label>Nom: &nbsp;</label><span id="nom" class='form-control-static'></span> </p>
                    <p><label>Correu electrònic: &nbsp;</label><span id="email"></span></p>
                    <p><label>Telèfon: &nbsp;</label><span id="telefon"></span></p>
                    <p><label>Administrador: &nbsp;<input  id="admin" name="admin" type="checkbox" disabled="disabled"></label></p>
                </div>
                <div class='col-md-6'>
                    <div class='well'>
                        <p>El rol d'administrador permet validar usuaris i empreses. No s'hauria d'assignar a tothom.</p>
                        <p><strong>Alerta:</strong> Si lleva aquest rol del seu usuari ja no li podrà tornar a assignar, ho haurà de fer un altre administrador.</p>
                    </div>
                    <button class="btn btn-success" type="submit" id="bGuardar" disabled="disabled">Guardar</button>
                    <button class="btn btn-default" type="reset" id="bCancelar" disabled="disabled">Cancelar</button>
                </div>
            </div>
        </div>
    </form>

    {{include('auxiliars/modals.html.twig')}}
{% endblock %}  