
<h3>Situació laboral {{ etiquetes.labelLlista }}:</h3>
<form id="estats" action="#" method="GET">
    <div class="row">
        <div class="col-md-6">
            <div class="well">
                {% for estat in estats %}
                    {%set skill=0 %}
                    {% for situacio in actor.estatsLaborals %}
                        {% if estat.idEstatLaboral==situacio.idEstatLaboral %}
                            {% set skill=estat.idEstatLaboral %}
                        {%endif%}
                    {% endfor %}
                    <div class="form-check">
                        <label class="form-check-label">{{ estat.nomEstatLaboral }}: &nbsp;<input class="form-check-input" type="checkbox" id="l{{ estat.idEstatLaboral }}" name="l{{ estat.idEstatLaboral }}" value="{{estat.idEstatLaboral}}" {% if estat.idEstatLaboral==skill %}checked="checked"{% endif %}></label>
                    </div>
                {% endfor %}
            </div>

        </div>
        <div class="col-md-6">
            <div class="well">
                <div class="well">
                    <p>El sistema seleccionarà aquells alumnes que es trobin en qualsevol de les situacions laborals especificades.</p>
                    <p>Per exemple, si l'oferta demana <em>Aturat</em> o <em>Estudiant</em> es seleccionaran els alumnes que tenguin marcat <em>Aturat</em>, els que tenguin marcat <em>Estudiant</em>, i els que els tenguin tots dos marcats. En aquest cas s'exclourien els que només tenguessin marcat <em>Treballant</em></p>
                    <p>Si no se'n marca cap no es tendrà en compte la situació laboral.</p>
                </div>
                <button class="btn btn-success" type="submit" name="bGuardar" id="bGuardar">Guardar</button>
                <button class="btn btn-default" type="reset"  name="bCancel" id="bCancel">Cancel·lar canvis</button>
            </div>
        </div>
    </div>
</form>
{{include('auxiliars/modals.html.twig')}}
<script>
    var resultat = [];
    $('#estats').on('submit', function (event) {
        resultat = {};
        resultat.estats = []
        event.preventDefault();
    {% for estat in estats %}
            if (typeof $('input[name="l{{estat.idEstatLaboral}}"]') !== "undefined" && $('input[name="l{{estat.idEstatLaboral}}"]:checked').val() > 0) {
                resultat.estats.push({{estat.idEstatLaboral}});
            }
    {% endfor %}

            $('#mEsperaTitol').html("Realitzant la modificació.");
            $('#mdEspera').on('shown.bs.modal', function (e) {
                $.ajax({
                    method: 'PUT',
                    url: "estatLaboral/" + {{identificador}},
                    data: resultat
                }).done(function (dades) {
                    $('#mrTitol').html('Modificació correcta')
                    if (dades.quantitat >= 0) {
                        $('#mrText').html("<p>La situació laboral s'ha modificat correctament.</p><p>Amb aquestes condicions l'oferta s'enviaria a " + dades.quantitat + " alumnes.</p>");
                    } else {
                        $('#mrText').html("<p>La situació laboral s'ha modificat correctament.</p>");
                    }
                    $('#bmDacord').on('click', function () {
    {%if actor.idOferta is empty %}
                        window.location = "dashBoard";
    {%else%}
                                            window.location = 'estatLaboral?idOferta={{actor.idOferta}}';
    {%endif%}
                    });
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    $('#mrTitol').html('<span class="glyphicon glyphicon-alert"></span>&nbsp; Problemes amb la modificació')
                    $('#mrText').html("<p>" + jqXHR.responseJSON.missatge + "</p>");
                    $('#bmDacord').on('click', function () {
                        $('#mdResultat').modal('hide');
                    });
                }).always(function () {
                    $('#mdEspera').modal('hide');
                    $('#mdResultat').modal('show');
                });
            });

            $('#mdEspera').modal('show');
        });
</script>

<script src="../../js/dirtyForms.js"></script>