
<h3>Idiomes {{ etiquetes.labelLlista }}:</h3>
<form id="llengues" action="#" method="GET">
    <div class="row">
        <div class="col-md-6">
            {% for idioma in idiomes %}
                {%set skill=0 %}
                {% for llengua in actor.idiomes %}
                    {% if idioma.idIdioma==llengua.idIdioma %}
                        {% set skill=llengua.pivot.NivellsIdioma_idNivellIdioma %}
                    {%endif%}
                {% endfor %}
                <div class="well">
                    <h4>{{ idioma.idioma }}</h4>
                    <div class="form-group">
                        <div>
                            {% for nivell in nivellsIdioma %}
                                <label class="radio-inline"><input type="radio" id="{{ idioma.idioma }}{{nivell.idNivellIdioma}}" name="l{{ idioma.idIdioma }}" value="{{nivell.idNivellIdioma}}" {% if nivell.idNivellIdioma==skill %}checked="checked"{% endif %}>{{ nivell.nivell }}</label>
                                {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-md-6">
            <div class="well">
                <div class="well">
                    <p>El sistema seleccionarà aquells alumnes que tenguin un nivell igual o superior al demanat per a cada un dels idiomes especificats a l'oferta.</p>
                    <p>Per exemple, si l'oferta demana un nivell <em>Molt bé</em> de castellà i català i <em>Bé</em> d'anglés només es seleccionaran els alumnes amb un nivell <em>Molt bé</em> de castella i català i <em>Bé</em> o <em>Molt bé</em> d'anglés.</p>
                    <p>Si no s'especifica cap nivell de cap idioma, no es tendran en compte els nivells d'idiomes per seleccionar els candidats.</p>
                </div>
                <button class="btn btn-success" type="submit" name="bGuardar" id="bGuardar">Guardar</button>
                <button class="btn btn-default" type="reset"  name="bCancel" id="bCancel">Cancel·lar</button>
            </div>
        </div>
    </div>
</form>
{{include('auxiliars/modals.html.twig')}}
<script>
    var resultat = [];
    $('#llengues').on('submit', function (event) {
        resultat = {};
        resultat.nivells = []
        event.preventDefault();
    {% for idioma in idiomes %}
            if (typeof $('input[name="l{{idioma.idIdioma}}"]') !== "undefined" && $('input[name="l{{idioma.idIdioma}}"]:checked').val() > 1) {
                resultat.nivells.push({idIdioma: '{{idioma.idIdioma}}', NivellsIdioma_idNivellIdioma: $('input[name="l{{idioma.idIdioma}}"]:checked').val()});
            }
    {% endfor %}

            $('#mEsperaTitol').html("Realitzant la modificació.");
            $('#mdEspera').on('shown.bs.modal', function (e) {
                $.ajax({
                    method: 'PUT',
                    url: "idiomes/" + {{identificador}},
                    data: resultat
                }).done(function (dades) {
                    $('#mrTitol').html('Modificació correcta');
                    if (dades.quantitat>=0) {
                         $('#mrText').html("<p>Els idiomes s'han modificat correctament.</p><p>Amb aquestes condicions l'oferta s'enviaria a " + dades.quantitat + " alumnes.</p>");
                    } else {
                        $('#mrText').html("<p>Els idiomes s'han modificat correctament.</p>");
                    }
                    $('#bmDacord').on('click', function () {
    {%if actor.idOferta is empty %}
                        window.location = "dashBoard";
    {%else%}
                        window.location = 'idiomes?idOferta={{actor.idOferta}}';
    {%endif%}
                    });
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    $('#mrTitol').html('<span class="glyphicon glyphicon-alert"></span>&nbsp; Problemes amb la modificació')
                    $('#mrText').html("<p>" + (typeof jqXHR.responseJSON === 'undefined' ? errorThrown : jqXHR.responseJSON.missatge) + "</p>");
                    $('#bmDacord').on('click', function () {
                        $('#mdResultat').modal('hide');
                    });
                }).always(function () {
                    $('#mdEspera').modal('hide');
                    $('#mdResultat').modal('show');
                });
            });

            $('#mdEspera').modal('show');
        });
</script>

<script src="../../js/dirtyForms.js"></script>