{% extends "auxiliars/base.html.twig" %}

{% block head %}
    <title>Borsa de treball: Oferta</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/borsa.css">
    <link rel="shortcut icon" type="image/ico" href="../../imatges/logoPau2.ico"/>
    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>

    <link href="../../js/summernote/summernote.css" rel="stylesheet">
    <script src="../../js/summernote/summernote.min.js"></script>

{% endblock %}
{% block navegacio %}
    <a class="navbar-brand" href="../dashBoard">{{empresa.nom}}</a>                    
</div>
<div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav">
        <li><a href="../ofertes"><span class="glyphicon glyphicon-list"></span> Ofertes</a></li>
        <li class="active"><a href="#">Actualitzar dades</a></li>
        <li><a href="../estudis?idOferta={{oferta.idOferta}}">Estudis</a></li>
        <li><a href="../idiomes?idOferta={{oferta.idOferta}}">Idiomes</a></li>
        <li><a href="../estatLaboral?idOferta={{oferta.idOferta}}">Situació laboral</a></li>
        <li><a href="../contactesOferta?idOferta={{oferta.idOferta}}">Persones de contacte</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right ">
        <li><a href="/sortir"><span class="glyphicon glyphicon-log-out"></span> Sortir</a></li>
    </ul>
{% endblock %}
{% block contingut %}
    <!--<h4>Dades oferta: Codi: {{oferta.idOferta}} Titol: {{oferta.titol}}</h4>-->
    {{include('auxiliars/formOferta.html.twig')}}
{% endblock %}